<nav class="sidebar">
  <ul class="nav-list">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('computer-desktop')"></span>
        <span class="nav-text">VG Shelf</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('squares-2x2')"></span>
        <span class="nav-text">BG Shelf</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('list-bullet')"></span>
        <span class="nav-text">VG List</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('clipboard-document-list')"></span>
        <span class="nav-text">BG List</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cog-6-tooth')"></span>
        <span class="nav-text">System</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cube')"></span>
        <span class="nav-text">Toys</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('wrench-screwdriver')"></span>
        <span class="nav-text">Custom Fields</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('adjustments-horizontal')"></span>
        <span class="nav-text">Options</span>
      </a>
    </li>
  </ul>
</nav>
