<nav class="sidebar">
  <div class="sidebar-logo clickable" (click)="navigateToHome()">
    <img class="logo-icon" *ngIf="isDarkMode" src="assets/light_blue_pensieve.svg" alt="Pensieve Logo">
    <img class="logo-icon" *ngIf="!isDarkMode" src="assets/blue_pensieve.svg" alt="Pensieve Logo">
  </div>
  <ul class="nav-list">
    <li class="nav-item video-games-nav">
      <a routerLink="/video-game-boxes" class="nav-link" [class.active]="isVideoGameRouteActive()">
        <span class="nav-icon" [innerHTML]="getIconHtml('computer-desktop')"></span>
        <span class="nav-text">Video Games</span>
      </a>
      <ul class="sub-nav">
        <li class="sub-nav-item">
          <a routerLink="/video-game-boxes" routerLinkActive="active" class="sub-nav-link">
            <span class="sub-nav-icon" [innerHTML]="getIconHtml('archive-box')"></span>
            <span class="sub-nav-text">Shelf</span>
          </a>
        </li>
        <li class="sub-nav-item">
          <a routerLink="/video-games" routerLinkActive="active" class="sub-nav-link">
            <span class="sub-nav-icon" [innerHTML]="getIconHtml('list-view')"></span>
            <span class="sub-nav-text">List</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item board-games-nav">
      <a routerLink="/board-game-boxes" class="nav-link" [class.active]="isBoardGameRouteActive()">
        <span class="nav-icon" [innerHTML]="getIconHtml('square-3-stack-3d')"></span>
        <span class="nav-text">Board Games</span>
      </a>
      <ul class="sub-nav">
        <li class="sub-nav-item">
          <a routerLink="/board-game-boxes" routerLinkActive="active" class="sub-nav-link">
            <span class="sub-nav-icon" [innerHTML]="getIconHtml('archive-box')"></span>
            <span class="sub-nav-text">Shelf</span>
          </a>
        </li>
        <li class="sub-nav-item">
          <a routerLink="/board-games" routerLinkActive="active" class="sub-nav-link">
            <span class="sub-nav-icon" [innerHTML]="getIconHtml('list-view')"></span>
            <span class="sub-nav-text">List</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a routerLink="/systems" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cog-6-tooth')"></span>
        <span class="nav-text">Systems</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/toys" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cube')"></span>
        <span class="nav-text">Toys</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/custom-fields" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('wrench-screwdriver')"></span>
        <span class="nav-text">Custom Fields</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/options" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('adjustments-horizontal')"></span>
        <span class="nav-text">Options</span>
      </a>
    </li>
  </ul>
</nav>
