<nav class="sidebar">
  <div class="sidebar-logo clickable" (click)="navigateToHome()">
    <img class="logo-icon" *ngIf="isDarkMode" src="assets/light_blue_pensieve.svg" alt="Pensieve Logo">
    <img class="logo-icon" *ngIf="!isDarkMode" src="assets/blue_pensieve.svg" alt="Pensieve Logo">
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/video-game-boxes" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('computer-desktop')"></span>
        <span class="nav-text">Video Games</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/board-game-boxes" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('squares-2x2')"></span>
        <span class="nav-text">Board Games</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/systems" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cog-6-tooth')"></span>
        <span class="nav-text">Systems</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/toys" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('cube')"></span>
        <span class="nav-text">Toys</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/custom-fields" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('wrench-screwdriver')"></span>
        <span class="nav-text">Custom Fields</span>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/options" routerLinkActive="active" class="nav-link">
        <span class="nav-icon" [innerHTML]="getIconHtml('adjustments-horizontal')"></span>
        <span class="nav-text">Options</span>
      </a>
    </li>
  </ul>
</nav>
